{
	"reporter": [
		"lcov",
		"text-summary"
	],
	"register": "babel-register",
	"include":[
		"**/*.js"
	],
	"exclude":[
		"coverage/**",
		"node_modules/**",
		"test/**",
		"locales/**",
		"nyc_output/**",
		"worker/**",
		"web/middleware/hapi-jwt-jwe/**",
		"web/index.js",
		"*.js"
	],
	"cache": true,
	"all": true
}